div#cv-result-yes {
    padding: 5px 10px 0 10px;
    margin: 0 5px 10px 5px;
    background-color: #FEE;
    border: 1px solid #F77;
}

div#cv-result-no {
    padding: 5px 10px 0 10px;
    margin: 0 5px 10px 5px;
    background-color: #EFE;
    border: 1px solid #7F7;
}

div#cv-result-detail {
    padding: 0 10px 0 10px;
    margin: 10px 10px 20px 10px;
    background-color: #F3F3F3;
    border: 1px solid #AAA;
}

table#cv-chain-table {
    width: 100%;
    border-spacing: 10px;
}

h2#cv-result-header {
    margin-bottom: 0;
}

ul#cv-result-list {
    margin-top: 0.5em;
}

ul#cv-result-detail-list {
    margin-bottom: 0;
}

a#cv-cached {
	position: relative;
}

a#cv-cached span {
	display: none;
	position: absolute;
	top: 20px;
	left: -50px;
	width: 500px;
	padding: 5px;
	z-index: 1;
	background: #F3F3F3;
	border: 1px solid #AAA;
	color: black;
}

a:active#cv-cached     { color: #040; text-decoration: none; }
a:hover#cv-cached      { text-decoration: none; }
a:hover#cv-cached span { display: block; }

div.cv-chain-detail {
    padding: 0 10px 0 10px;
    background-color: #FFF;
    border: 1px solid #BBB;
}

td.cv-chain-cell {
    width: 50%;
    vertical-align: top;
}

span.cv-hl {
    background: #FAA;
}

span.cv-hl-in {
    background: #FCC;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#FFF), to(#FAA)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(left, #FFF, #FAA); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(left, #FFF, #FAA); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #FFF, #FAA); /* IE 10+ */
    background: -o-linear-gradient(left, #FFF, #FAA); /* Opera 11.10+ */
    background: linear-gradient(left, #FFF, #FAA);
}

span.cv-hl-out {
    background: #FCC;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#FAA), to(#FFF)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(left, #FAA, #FFF); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(left, #FAA, #FFF); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #FAA, #FFF); /* IE 10+ */
    background: -o-linear-gradient(left, #FAA, #FFF); /* Opera 11.10+ */
    background: linear-gradient(left, #FAA, #FFF);
}
