body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #E0E0E0;
}

ul, ol {
    line-height: 1.75;
}

div#header {
    margin: 20px;
    padding: 2px 15px 2px 15px;
    border: 1px solid #999;
    background-color: #FFF;
}

div#container {
    line-height: 1.5;
    margin: 0 20px 90px 20px;
    padding: 2px 15px 2px 15px;
    border: 1px solid #999;
    background-color: #FFF;
}

div#footer {
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;

    background: #EEEEEE;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#CCCCCC)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(top, #F7F7F7, #CCCCCC); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #F7F7F7, #CCCCCC); /* IE 10+ (lol) */
    background: -o-linear-gradient(top, #F7F7F7, #CCCCCC); /* Opera 11.10+ */
    background: linear-gradient(top, #F7F7F7, #CCCCCC);
}

div#foot-divider {
    border-bottom: 1px solid #999;
}

h1#head {
    font-size: 3em;
    margin: 15px 0 12px 0;
}

h2#links {
    font-size: 1.75em;
    margin: 8px 0 8px 0;
}

table#footer-box {
    width: 100%;
    height: 100%;
}

span.light { color: #CCC; }

a:link    { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover   { color: #040; text-decoration: underline; }
a:active  { color: #404; text-decoration: underline; }

a.dark:link    { color: #777; }
a.dark:visited { color: #777; }
a.dark:hover   { color: #555; }
a.dark:active  { color: #333; }

a.mid:link    { color: #AAA; }
a.mid:visited { color: #AAA; }
a.mid:hover   { color: #888; }
a.mid:active  { color: #666; }
