body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #000;
    background-attachment: fixed;
    margin: 0;
}

ul, ol {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.20em;
    margin-bottom: 0.20em;
}

div#header {
    margin: 30px 60px 30px 60px;
    padding: 2px 15px 2px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

div#container {
    line-height: 1.25;
    margin: 0 60px 80px 60px;
    padding: 15px 15px 15px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

div#footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;

    background: #EEEEEE;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#CCCCCC)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(top, #F7F7F7, #CCCCCC); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #F7F7F7, #CCCCCC); /* IE 10+ (lol) */
    background: -o-linear-gradient(top, #F7F7F7, #CCCCCC); /* Opera 11.10+ */
    background: linear-gradient(top, #F7F7F7, #CCCCCC);
}

div#foot-divider {
    border-bottom: 1px solid #777;
}

p#heading {
    font-size: 2.5em;
    font-weight: bold;
    margin: 8px 0 8px 0;
}

p#links {
    font-size: 1.5em;
    font-weight: bold;
    margin: 8px 0 10px 0;
}

table#footer-box {
    width: 100%;
    height: 100%;
}

div.toolbox {
    margin: 15px 0 15px 0;
    padding: 0 6px 0 6px;
    border: 1px solid #999;
    background-color: #F5F5F5;
}

div.divider {
    border-bottom: 1px solid #AAA;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.green-box {
    padding: 0 10px 0 10px;
    margin: 0 5px 10px 5px;
    background-color: #EFE;
    border: 1px solid #7F7;
}

div.red-box {
    padding: 0 10px 0 10px;
    margin: 0 5px 10px 5px;
    background-color: #FEE;
    border: 1px solid #F77;
}

div.indentable {
    white-space: pre-wrap;
}

p.toolname {
    font-size: 18px;
    margin: 6px 0 6px 0;
    background-color: #E7E7E7;
}

p.tooldesc {
    margin: 6px 0 6px 0;
}

span.offline {
    color: #900;
    font-weight: bold;
}

span.online {
    color: #090;
    font-weight: bold;
}

span.light  { color: #CCC; }
span.medium { color: #AAA; }

a:link    { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover   { color: #040; text-decoration: underline; }
a:active  { color: #404; text-decoration: underline; }

a.black:link    { color: #000; }
a.black:visited { color: #000; }
a.black:hover   { color: #000; }
a.black:active  { color: #000; }

a.dark:link    { color: #777; }
a.dark:visited { color: #777; }
a.dark:hover   { color: #777; }
a.dark:active  { color: #333; }

a.mid:link    { color: #AAA; }
a.mid:visited { color: #AAA; }
a.mid:hover   { color: #888; }
a.mid:active  { color: #666; }
