body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #EEE;
}

div#container {
    width: 800px;
    margin: 20px auto 90px auto;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #FFF;
}

div#content {
    padding: 2px 15px 2px 15px;
}

div#footer {
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;

    background: #EEEEEE;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#CCCCCC)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #F7F7F7, #CCCCCC); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(top, #F7F7F7, #CCCCCC); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #F7F7F7, #CCCCCC); /* IE 10+ (lol) */
    background: -o-linear-gradient(top, #F7F7F7, #CCCCCC); /* Opera 11.10+ */
    background: linear-gradient(top, #F7F7F7, #CCCCCC);
}

div#foot-divider {
    border-bottom: 1px solid #999;
}

table#footer-box {
    width: 100%;
    height: 100%;
}

a:link { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover { color: #040; text-decoration: underline; }
a:active { color: #404; text-decoration: underline; }

a.incognito:link { color: #000; text-decoration: none; }
a.incognito:visited { color: #000; text-decoration: none; }
a.incognito:hover { color: #000; text-decoration: underline; }
a.incognito:active { color: #000; text-decoration: none; }
