h1, h2 {
    font-family: sans-serif;
}

pre {
    white-space: pre-wrap;
}

div#help {
    margin: auto;
    max-width: 1200px;
}

span.code {
    font-family: monospace;
}

span.resp-dtype, span.resp-desc, span.resp-cond {
    padding: 0 0.25em;
    background-color: #EEE;
}

span.resp-dtype {
    color: #009;
}

span.resp-dtype:before, span.resp-cond:before {
    content: "(";
}

span.resp-dtype:after, span.resp-cond:after {
    content: ")";
}

span.resp-desc {
    color: #050;
}

span.resp-cond {
    color: #900;
    font-style: italic;
}

span.param-key {
    color: #009;
    font-weight: bold;
}

span.param-val {
    color: #900;
    font-weight: bold;
}

table.parameters {
    margin: 1em 0;
}

table.parameters td, table.parameters th {
    padding: 0.2em 0.5em;
}

table.parameters th {
    background-color: #F0F0F0;
}

table.parameters tr:first-child {
    font-family: sans-serif;
    font-size: 1.17em;
    background-color: #369;
    color: white;
}

table.parameters td:first-child {
    font-family: monospace;
}

table.parameters tr:nth-child(2n + 3) {
    background-color: #E0E0E0;
}

table.parameters tr:nth-child(2n + 4) {
    background-color: #F0F0F0;
}

a:link    { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover   { color: #040; text-decoration: underline; }
a:active  { color: #404; text-decoration: underline; }

a.no-color:link    { color: #000; text-decoration: none; }
a.no-color:visited { color: #000; text-decoration: none; }
a.no-color:hover   { color: #000; text-decoration: underline; }
a.no-color:active  { color: #000; text-decoration: underline; }
