h1, h2 {
    font-family: sans-serif;
}

div#help {
    margin: auto;
    max-width: 1200px;
}

span.code {
    font-family: monospace;
}

table.parameters {
    margin: 1em 0;
}

table.parameters td, table.parameters th {
    padding: 0.2em 0.5em;
}

table.parameters th {
    background-color: #F0F0F0;
}

table.parameters tr:first-child {
    font-family: sans-serif;
    font-size: 1.17em;
}

table.parameters td:first-child {
    font-family: monospace;
}

table.parameters tr:nth-child(2n + 3) {
    background-color: #E0E0E0;
}

table.parameters tr:nth-child(2n + 4) {
    background-color: #F0F0F0;
}
