body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #000;
    background-attachment: fixed;
    margin: 0;
}

ul, ol {
    line-height: 1.5;
}

h2 {
    margin-bottom: 0.2em;
}

div#header {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 60px;
    padding: 10px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

div#container {
    line-height: 1.25;
    margin: 0 60px 65px 60px;
    padding: 5px 15px 15px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

div#footer {
    position: fixed;
    width: 100%;
    height: 45px;
    bottom: 0;
    font-size: 0.85em;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #777;
    background: #DDDDDD;
}

div#notice-box {
    padding: 10px;
    margin: 10px 5px;
}

div#notice-box p {
    margin: 0.25em 0;
}

div#notice-box ul {
    padding-left: 1.5em;
    margin: 0;
}

div#info-box {
    padding: 0 10px;
    margin: 10px 5px;
}

div#turnitin-container {
    padding: 5px 10px;
    margin: 15px 5px 10px 5px;
}

div#turnitin-title {
    margin-bottom: -5px;
    text-align: center;
    font-weight: bold;
}

div#cv-result {
    padding: 5px;
    margin: 10px 5px;
}

div#sources-container {
    padding: 5px 10px;
    margin: 15px 5px 10px 5px;
    background-color: #EEE;
    border: 1px solid #BBB;
}

div#sources-title {
    margin-bottom: -5px;
    text-align: center;
    font-weight: bold;
}

div#cv-additional {
    display: none;
}

div#generation-time {
    margin-right: 5px;
    text-align: right;
    font-style: italic;
}

div#cv-chain-container {
    margin: 0 4px;
}

table#heading {
    width: 100%;
}

table#cv-form-outer {
    width: 800px;
}

table#cv-form-inner {
    width: 100%;
    border-spacing: 0;
}

table#cv-result-sources {
    width: 100%;
    border-spacing: 0 4px;
    table-layout: fixed;
}

table#cv-result-sources col:nth-child(1) { width: 80%; }
table#cv-result-sources col:nth-child(2) { width: 10%; }
table#cv-result-sources col:nth-child(3) { width: 10%; }

table#cv-result-sources th {
    text-align: left;
}

table#cv-result-sources tr:nth-child(even) {
    background-color: #E0E0E0;
}

table#cv-result-sources td:first-child {
    overflow: hidden;
    word-wrap: break-word;
}

table#cv-result-head-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

table#cv-result-head-table col:nth-child(odd) {
    width: 42.5%;
}

table#cv-result-head-table col:nth-child(2) {
    width: 15%;
}

table#cv-result-head-table td:nth-child(odd) {
    font-size: 1.25em;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;
}

table#cv-result-head-table td:nth-child(2) div:nth-child(1) {
    font-weight: bold;
}

table#cv-result-head-table td:nth-child(2) div:nth-child(2) {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;
}

table#cv-result-head-table td:nth-child(2) div:nth-child(3) {
    font-size: 0.8em;
}

table#cv-chain-table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
    table-layout: fixed;
}

tr#source-row-selected {
    background-color: #CFCFCF !important;
}

td#head-settings {
    text-align: right;
}

td#cv-col1 {
    width: 15%;
}

td#cv-col2 {
    width: 55%;
}

td#cv-col3 {
    width: 15%;
    text-align: center;
}

td#cv-col4 {
    width: 15%;
}

td#cv-inner-col1 {
    width: 4%;
}

td#cv-inner-col2 {
    width: 22%;
}

td#cv-inner-col3 {
    width: 76%;
}

h2#cv-result-header {
    margin: 0;
}

span#redirected-from {
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
}

span#result-head-no-sources {
    font-style: italic;
}

a#source-selected {
    font-weight: bold;
}

a#cv-cached {
    position: relative;
}

a#cv-cached span {
    display: none;
    position: absolute;
    top: 20px;
    left: -50px;
    width: 500px;
    padding: 5px;
    z-index: 1;
    background: #F3F3F3;
    border: 1px solid #AAA;
    color: black;
    font-style: normal;
    text-align: left;
}

div.green-box {
    background-color: #EFE;
    border: 1px solid #7F7;
}

div.yellow-box {
    background-color: #FFD;
    border: 1px solid #EE5;
}

div.red-box {
    background-color: #FEE;
    border: 1px solid #F77;
}

div.gray-box {
    background-color: #EEE;
    border: 1px solid #AAA;
}

div.indentable {
    white-space: pre-wrap;
}

div.cv-source-footer {
    padding-bottom: 5px;
    font-style: italic;
}

div.cv-source-footer a {
    font-style: normal;
}

div.cv-chain-detail {
    padding: 0 10px 0 10px;
    background-color: #FFF;
    border: 1px solid #BBB;
}

td.cv-chain-cell {
    vertical-align: top;
    word-wrap: break-word;
}

td.cv-chain-cell:first-child {
    padding-right: 5px;
}

td.cv-chain-cell:last-child {
    padding-left: 5px;
}

input.cv-text {
    width: 100%;
}

input.cv-search {
    margin-left: 0;
    margin-right: 5px;
}

input.cv-search ~ input.cv-search {
    margin-left: 20px;
}

span.cv-hl {
    background: #FAA;
}

span.cv-hl-in {
    background: #FCC;
    background: linear-gradient(to left, #FAA, #FFF);
}

span.cv-hl-out {
    background: #FCC;
    background: linear-gradient(to right, #FAA, #FFF);
}

span.mono   { font-family: monospace; }
span.light  { color: #CCC; }
span.medium { color: #AAA; }

span.source-confidence { font-weight: bold; }
span.source-suspect    { color: #900; }
span.source-possible   { color: #990; }
span.source-novio      { color: #090; }
span.source-skipped    { font-style: italic; }
span.source-excluded   { font-style: italic; }

a:link    { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover   { color: #040; text-decoration: underline; }
a:active  { color: #404; text-decoration: underline; }

a:link#a-home    { color: #777; }
a:visited#a-home { color: #777; }
a:hover#a-home   { color: #555; }
a:active#a-home  { color: #333; }

a:link#a-settings    { color: #AAA; }
a:visited#a-settings { color: #AAA; }
a:hover#a-settings   { color: #888; }
a:active#a-settings  { color: #666; }

a:active#cv-cached     { color: #040; text-decoration: none; }
a:hover#cv-cached      { text-decoration: none; }
a:hover#cv-cached span { display: block; }

a:link.source-url    { color: #357; }
a:visited.source-url { color: #357; }
a:hover.source-url   { color: #035; }
a:active.source-url  { color: #404; }
