html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    color: #000;
    background-color: #eaecf0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#container {
    flex: auto;
    line-height: 1.25;
    margin: 0 auto;
}

#container > div {
    background-color: #fff;
    border: 1px solid #c8ccd1;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    margin: 1.5em 3em;
    padding: 1em;
}

header {
    background-color: #eaecf0;
    padding: 0.2em 1em;
}

header > * {
    vertical-align: middle;
    display: inline-block;
}

header h1 {
    font-size: 2em;
    margin: 0 1em 0 0;
}

#settings-link::before {
    content: ' ';
    font-size: 0.85em;
    color: black;
    opacity: 0.6;
    padding-left: 1.67em;
    background-image: linear-gradient(transparent,transparent), url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 xmlns:xlink=%22http://www.w3.org/1999/xlink%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Esettings%3C/title%3E%3Cg transform=%22translate%2810 10%29%22%3E%3Cpath id=%22a%22 d=%22M1.5-10h-3l-1 6.5h5m0 7h-5l1 6.5h3%22/%3E%3Cuse transform=%22rotate%2845%29%22 xlink:href=%22%23a%22/%3E%3Cuse transform=%22rotate%2890%29%22 xlink:href=%22%23a%22/%3E%3Cuse transform=%22rotate%28135%29%22 xlink:href=%22%23a%22/%3E%3C/g%3E%3Cpath d=%22M10 2.5a7.5 7.5 0 000 15 7.5 7.5 0 000-15v4a3.5 3.5 0 010 7 3.5 3.5 0 010-7%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    padding: 1em;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #c8ccd1;
    background: #fff;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline;
}

footer li:not(:last-child)::after {
    content: ' \00b7';
}

ul, ol {
    line-height: 1.5;
}

h2 {
    margin-bottom: 0.2em;
}

#notice-box {
    padding: 10px;
    margin: 10px 5px;
}

#notice-box p {
    margin: 0.25em 0;
}

#notice-box ul {
    padding-left: 1.5em;
    margin: 0;
}

#info-box {
    padding: 0 10px;
    margin: 10px 5px;
}

#cv-result {
    padding: 5px;
    margin: 10px 5px;
}

#attribution-warning {
    padding: 1em;
    margin: 15px 5px 10px 5px;
}

#turnitin-container {
    padding: 5px;
    margin: 15px 5px 10px 5px;
}

#sources-container {
    padding: 5px 10px;
    margin: 15px 5px 10px 5px;
    background-color: #eee;
    border: 1px solid #bbb;
}

#turnitin-title, #sources-title {
    margin-bottom: -5px;
    text-align: center;
    font-weight: bold;
}

#turnitin-summary {
    padding-bottom: 5px;
    font-style: italic;
}

#cv-additional {
    display: none;
}

#generation-time {
    margin-right: 5px;
    text-align: right;
    font-style: italic;
}

#cv-chain-container {
    margin: 0 4px;
}

#heading {
    width: 100%;
}

#cv-form-outer {
    width: 800px;
}

#cv-form-inner {
    width: 100%;
    border-spacing: 0;
}

#cv-result-sources {
    width: 100%;
    border-spacing: 0 4px;
    table-layout: fixed;
}

#cv-result-sources col:nth-child(1) { width: 80%; }
#cv-result-sources col:nth-child(2) { width: 10%; }
#cv-result-sources col:nth-child(3) { width: 10%; }

#cv-result-sources th {
    text-align: left;
}

#cv-result-sources tr:nth-child(even) {
    background-color: #e0e0e0;
}

#cv-result-sources td:first-child {
    overflow: hidden;
    word-wrap: break-word;
}

#cv-result-head-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-spacing: 0;
}

#cv-result-head-table col:nth-child(odd) {
    width: 42.5%;
}

#cv-result-head-table col:nth-child(2) {
    width: 15%;
}

#cv-result-head-table td:nth-child(odd) {
    font-size: 1.25em;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;
}

#cv-result-head-table td:nth-child(2) div:nth-child(1) {
    font-weight: bold;
}

#cv-result-head-table td:nth-child(2) div:nth-child(2) {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;
}

#cv-result-head-table td:nth-child(2) div:nth-child(3) {
    font-size: 0.8em;
}

#cv-chain-table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
    table-layout: fixed;
}

#turnitin-table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    border-spacing: 0;
}

#source-row-selected {
    background-color: #cfcfcf !important;
}

#head-settings {
    text-align: right;
}

#cv-col1 {
    width: 15%;
}

#cv-col2 {
    width: 55%;
}

#cv-col3 {
    width: 15%;
    text-align: center;
}

#cv-col4 {
    width: 15%;
}

#cv-inner-col1 {
    width: 4%;
}

#cv-inner-col2 {
    width: 22%;
}

#cv-inner-col3 {
    width: 76%;
}

#cv-result-header {
    margin: 0;
}

#redirected-from {
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
}

#result-head-no-sources {
    font-style: italic;
}

#source-selected {
    font-weight: bold;
}

#cv-cached {
    position: relative;
}

#cv-cached span {
    display: none;
    position: absolute;
    top: 20px;
    left: -50px;
    width: 500px;
    padding: 5px;
    z-index: 1;
    background: #f3f3f3;
    border: 1px solid #aaa;
    color: black;
    font-style: normal;
    text-align: left;
}

.green-box {
    background-color: #efe;
    border: 1px solid #7f7;
}

.yellow-box {
    background-color: #ffd;
    border: 1px solid #ee5;
}

.red-box {
    background-color: #fee;
    border: 1px solid #f77;
}

.gray-box {
    background-color: #eee;
    border: 1px solid #aaa;
}

.indentable {
    white-space: pre-wrap;
}

.cv-source-footer {
    padding-bottom: 5px;
    font-style: italic;
}

.cv-source-footer a {
    font-style: normal;
}

.cv-chain-detail {
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #bbb;
}

.cv-chain-cell {
    vertical-align: top;
    word-wrap: break-word;
}

.cv-chain-cell:first-child {
    padding-right: 5px;
}

.cv-chain-cell:last-child {
    padding-left: 5px;
}

.turnitin-table-cell {
    padding: 0.5em 0 0.3em 0;
}

.turnitin-table-cell ul {
    margin: 0.2em 0 0 0;
    line-height: 1.4;
}

.cv-text {
    width: 100%;
}

.cv-search {
    margin-left: 0;
    margin-right: 5px;
}

.cv-search ~ .cv-search {
    margin-left: 20px;
}

.cv-hl {
    background: #faa;
}

.cv-hl-in {
    background: #fcc;
    background: linear-gradient(to left, #faa, #fff);
}

.cv-hl-out {
    background: #fcc;
    background: linear-gradient(to right, #faa, #fff);
}

.mono   { font-family: monospace; }
.light  { color: #ccc; }
.medium { color: #aaa; }

.source-similarity { font-weight: bold; }
.source-suspect    { color: #900; }
.source-possible   { color: #990; }
.source-novio      { color: #090; }
.source-skipped    { font-style: italic; }
.source-excluded   { font-style: italic; }

a:link, a:visited {
    color: #002bb8;
    text-decoration: none;
}

a:hover {
    color: #002bb8;
    text-decoration: underline;
}

a:active {
    color: #404;
    text-decoration: underline;
}

header a:link, header a:visited, header a:hover {
    color: #54595d;
}

header a:active {
    color: #333;
}

#cv-cached:active     { color: #040; text-decoration: none; }
#cv-cached:hover      { text-decoration: none; }
#cv-cached:hover span { display: block; }

.source-url:link    { color: #357; }
.source-url:visited { color: #357; }
.source-url:hover   { color: #035; }
.source-url:active  { color: #404; }
