body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #000;
    background-attachment: fixed;
    margin: 0;
}

ul, ol {
    line-height: 1.5;
}

h2 {
    margin-bottom: 0.2em;
}

div#header {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 60px;
    padding: 10px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

div#container {
    line-height: 1.25;
    margin: 0 60px 65px 60px;
    padding: 5px 15px 15px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

div#footer {
    position: fixed;
    width: 100%;
    height: 45px;
    bottom: 0;
    font-size: 0.85em;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #777;
    background: #DDDDDD;
}

div#info-box {
    padding: 0 10px 0 10px;
    margin: 10px 5px 10px 5px;
}

div#cv-result {
    padding: 10px;
    margin: 15px 5px 10px 5px;
}

table#heading {
    width: 100%;
}

table#cv-form-outer {
    width: 750px;
}

table#cv-form-inner {
    width: 100%;
    border-spacing: 0;
}

table#cv-result-sources {
    width: 100%;
    background-color: #EEE;
}

table#cv-result-sources th {
    text-align: left;
}

table#cv-result-sources tr:nth-child(even) {
    background-color: #F0F0F0;
}

table#cv-chain-table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 10px 0;
}

td#head-settings {
    text-align: right;
}

td#cv-col1 {
    width: 15%;
}

td#cv-col2 {
    width: 55%;
}

td#cv-col3 {
    width: 15%;
    text-align: center;
}

td#cv-col4 {
    width: 15%;
}

td#cv-inner-col1 {
    width: 4%;
}

td#cv-inner-col2 {
    width: 22%;
}

td#cv-inner-col3 {
    width: 76%;
}

h2#cv-result-header {
    margin: 0;
}

ul#cv-result-list {
    margin: 0.5em 0;
}

a#cv-cached {
    position: relative;
}

a#cv-cached span {
    display: none;
    position: absolute;
    top: 20px;
    left: -50px;
    width: 500px;
    padding: 5px;
    z-index: 1;
    background: #F3F3F3;
    border: 1px solid #AAA;
    color: black;
}

div.green-box {
    background-color: #EFE;
    border: 1px solid #7F7;
}

div.yellow-box {
    background-color: #FFD;
    border: 1px solid #EE5;
}

div.red-box {
    background-color: #FEE;
    border: 1px solid #F77;
}

div.indentable {
    white-space: pre-wrap;
}

div.cv-chain-detail {
    padding: 0 10px 0 10px;
    background-color: #FFF;
    border: 1px solid #BBB;
}

td.cv-chain-cell {
    width: 50%;
    vertical-align: top;
}

input.cv-text {
    width: 100%;
}

input#cv-cb-engine {
    margin-left: 0;
    margin-right: 5px;
}

input#cv-cb-links {
    margin-left: 20px;
    margin-right: 5px;
}

span.cv-hl {
    background: #FAA;
}

span.cv-hl-in {
    background: #FCC;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#FFF), to(#FAA)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(left, #FFF, #FAA); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(left, #FFF, #FAA); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #FFF, #FAA); /* IE 10+ */
    background: -o-linear-gradient(left, #FFF, #FAA); /* Opera 11.10+ */
    background: linear-gradient(left, #FFF, #FAA);
}

span.cv-hl-out {
    background: #FCC;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#FAA), to(#FFF)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(left, #FAA, #FFF); /* Chrome 10+, Safari 5+ */
    background: -moz-linear-gradient(left, #FAA, #FFF); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #FAA, #FFF); /* IE 10+ */
    background: -o-linear-gradient(left, #FAA, #FFF); /* Opera 11.10+ */
    background: linear-gradient(left, #FAA, #FFF);
}

span.mono   { font-family: monospace; }
span.light  { color: #CCC; }
span.medium { color: #AAA; }

span.source-confidence { font-weight: bold; }
span.source-suspect    { color: #900; }
span.source-possible   { color: #990; }
span.source-novio      { color: #090; }
span.source-skipped    { font-style: italic; }

a:link    { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover   { color: #040; text-decoration: underline; }
a:active  { color: #404; text-decoration: underline; }

a:link#a-home    { color: #777; }
a:visited#a-home { color: #777; }
a:hover#a-home   { color: #555; }
a:active#a-home  { color: #333; }

a:link#a-settings    { color: #AAA; }
a:visited#a-settings { color: #AAA; }
a:hover#a-settings   { color: #888; }
a:active#a-settings  { color: #666; }

a:active#cv-cached     { color: #040; text-decoration: none; }
a:hover#cv-cached      { text-decoration: none; }
a:hover#cv-cached span { display: block; }
