body {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

ul, ol {
    line-height: 1.5;
}

h2 {
    margin-bottom: 0.2em;
}

#header {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 60px;
    padding: 10px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

#container {
    line-height: 1.25;
    margin: 0 60px 65px 60px;
    padding: 5px 15px 15px 15px;
    border: 1px solid #777;
    background-color: #FFF;
}

#footer {
    position: fixed;
    width: 100%;
    height: 45px;
    bottom: 0;
    font-size: 0.85em;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #777;
    background: #DDDDDD;
}

#footer li {
    display: inline;
}

#footer li:not(:last-child)::after {
    content: ' \00b7';
}

#notice-box {
    padding: 10px;
    margin: 10px 5px;
}

#notice-box p {
    margin: 0.25em 0;
}

#notice-box ul {
    padding-left: 1.5em;
    margin: 0;
}

#info-box {
    padding: 0 10px;
    margin: 10px 5px;
}

#cv-result {
    padding: 5px;
    margin: 10px 5px;
}

#attribution-warning {
    padding: 1em;
    margin: 15px 5px 10px 5px;
}

#turnitin-container {
    padding: 5px;
    margin: 15px 5px 10px 5px;
}

#sources-container {
    padding: 5px 10px;
    margin: 15px 5px 10px 5px;
    background-color: #EEE;
    border: 1px solid #BBB;
}

#turnitin-title, #sources-title {
    margin-bottom: -5px;
    text-align: center;
    font-weight: bold;
}

#turnitin-summary {
    padding-bottom: 5px;
    font-style: italic;
}

#cv-additional {
    display: none;
}

#generation-time {
    margin-right: 5px;
    text-align: right;
    font-style: italic;
}

#cv-chain-container {
    margin: 0 4px;
}

#heading {
    width: 100%;
}

#cv-form-outer {
    width: 800px;
}

#cv-form-inner {
    width: 100%;
    border-spacing: 0;
}

#cv-result-sources {
    width: 100%;
    border-spacing: 0 4px;
    table-layout: fixed;
}

#cv-result-sources col:nth-child(1) { width: 80%; }
#cv-result-sources col:nth-child(2) { width: 10%; }
#cv-result-sources col:nth-child(3) { width: 10%; }

#cv-result-sources th {
    text-align: left;
}

#cv-result-sources tr:nth-child(even) {
    background-color: #E0E0E0;
}

#cv-result-sources td:first-child {
    overflow: hidden;
    word-wrap: break-word;
}

#cv-result-head-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-spacing: 0;
}

#cv-result-head-table col:nth-child(odd) {
    width: 42.5%;
}

#cv-result-head-table col:nth-child(2) {
    width: 15%;
}

#cv-result-head-table td:nth-child(odd) {
    font-size: 1.25em;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;
}

#cv-result-head-table td:nth-child(2) div:nth-child(1) {
    font-weight: bold;
}

#cv-result-head-table td:nth-child(2) div:nth-child(2) {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;
}

#cv-result-head-table td:nth-child(2) div:nth-child(3) {
    font-size: 0.8em;
}

#cv-chain-table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
    table-layout: fixed;
}

#turnitin-table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    border-spacing: 0;
}

#source-row-selected {
    background-color: #CFCFCF !important;
}

#head-settings {
    text-align: right;
}

#cv-col1 {
    width: 15%;
}

#cv-col2 {
    width: 55%;
}

#cv-col3 {
    width: 15%;
    text-align: center;
}

#cv-col4 {
    width: 15%;
}

#cv-inner-col1 {
    width: 4%;
}

#cv-inner-col2 {
    width: 22%;
}

#cv-inner-col3 {
    width: 76%;
}

#cv-result-header {
    margin: 0;
}

#redirected-from {
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
}

#result-head-no-sources {
    font-style: italic;
}

#source-selected {
    font-weight: bold;
}

#cv-cached {
    position: relative;
}

#cv-cached span {
    display: none;
    position: absolute;
    top: 20px;
    left: -50px;
    width: 500px;
    padding: 5px;
    z-index: 1;
    background: #F3F3F3;
    border: 1px solid #AAA;
    color: black;
    font-style: normal;
    text-align: left;
}

.green-box {
    background-color: #EFE;
    border: 1px solid #7F7;
}

.yellow-box {
    background-color: #FFD;
    border: 1px solid #EE5;
}

.red-box {
    background-color: #FEE;
    border: 1px solid #F77;
}

.gray-box {
    background-color: #EEE;
    border: 1px solid #AAA;
}

.indentable {
    white-space: pre-wrap;
}

.cv-source-footer {
    padding-bottom: 5px;
    font-style: italic;
}

.cv-source-footer a {
    font-style: normal;
}

.cv-chain-detail {
    padding: 0 10px 0 10px;
    background-color: #FFF;
    border: 1px solid #BBB;
}

.cv-chain-cell {
    vertical-align: top;
    word-wrap: break-word;
}

.cv-chain-cell:first-child {
    padding-right: 5px;
}

.cv-chain-cell:last-child {
    padding-left: 5px;
}

.turnitin-table-cell {
    padding: 0.5em 0 0.3em 0;
}

.turnitin-table-cell ul {
    margin: 0.2em 0 0 0;
    line-height: 1.4;
}

.cv-text {
    width: 100%;
}

.cv-search {
    margin-left: 0;
    margin-right: 5px;
}

.cv-search ~ .cv-search {
    margin-left: 20px;
}

.cv-hl {
    background: #FAA;
}

.cv-hl-in {
    background: #FCC;
    background: linear-gradient(to left, #FAA, #FFF);
}

.cv-hl-out {
    background: #FCC;
    background: linear-gradient(to right, #FAA, #FFF);
}

.mono   { font-family: monospace; }
.light  { color: #CCC; }
.medium { color: #AAA; }

.source-similarity { font-weight: bold; }
.source-suspect    { color: #900; }
.source-possible   { color: #990; }
.source-novio      { color: #090; }
.source-skipped    { font-style: italic; }
.source-excluded   { font-style: italic; }

a:link    { color: #373; text-decoration: none; }
a:visited { color: #373; text-decoration: none; }
a:hover   { color: #040; text-decoration: underline; }
a:active  { color: #404; text-decoration: underline; }

#a-home:link    { color: #777; }
#a-home:visited { color: #777; }
#a-home:hover   { color: #555; }
#a-home:active  { color: #333; }

#a-settings:link    { color: #AAA; }
#a-settings:visited { color: #AAA; }
#a-settings:hover   { color: #888; }
#a-settings:active  { color: #666; }

#cv-cached:active     { color: #040; text-decoration: none; }
#cv-cached:hover      { text-decoration: none; }
#cv-cached:hover span { display: block; }

.source-url:link    { color: #357; }
.source-url:visited { color: #357; }
.source-url:hover   { color: #035; }
.source-url:active  { color: #404; }
