{% extends "support/base.html.jinja" %}
{% block title %}
    {{ message('page-title-error') | striptags }} - {{ super() }}
{% endblock %}
{% block content %}
    <h2>{{ message('error-heading') }}</h2>
    <p>{{ message('error-description', issues_url='https://github.com/earwig/copyvios/issues', new_issue_url='https://github.com/earwig/copyvios/issues/new', email_url='mailto:wikipedia.earwig@gmail.com') }}</p>
    <div id="info-box" class="red-box">
        <pre>{{ traceback | trim | e }}</pre>
    </div>
{% endblock %}
