{% extends "support/base.html.jinja" %}
{% block title %}
    {% if g.page %}
        {{ g.page.title | e }} - {{ super() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if query.submitted %}
        {% if error %}
            <div id="info-box" class="red-box"><p>
                {% if error.code == ErrorCode.BAD_ACTION %}
                    {{ message('error-bad-action', action=query.action) }}
                {% elif error.code == ErrorCode.NO_SEARCH_METHOD %}
                    {{ message('error-no-search-method') }}
                {% elif error.code == ErrorCode.BAD_OLDID %}
                    {{ message('error-invalid-oldid', oldid=query.oldid) }}
                {% elif error.code == ErrorCode.NO_URL %}
                    {{ message('error-no-url') }}
                {% elif error.code == ErrorCode.BAD_URI %}
                    {{ message('error-unsupported-uri', url_target=query.url | e, target_title=query.url | e) }}
                {% elif error.code == ErrorCode.NO_DATA %}
                    {{ message('error-no-data', url_target=query.url | e, target_title=query.url | e) }}
                {% elif error.code == ErrorCode.TIMEOUT %}
                    {{ message('error-timeout', url_target=query.url | e, target_title=query.url | e) }}
                {% elif error.code == ErrorCode.SEARCH_ERROR %}
                    {{ message('error-search-error', error_cause=error.__cause__, url_no_engine=((request.url | httpsfix) + '&use_engine=0') | e) }}
                {% else %}
                    {{ message('error-unknown') }}
                {% endif %}
            </p></div>
        {% elif not g.site %}
            <div id="info-box" class="red-box">
                {% set bad_site_url = "https://" ~ query.lang ~ "." ~ query.project ~ ".org/" %}
                <p>{{ message('error-bad-site', project=query.project, lang=query.lang, url_site=bad_site_url | e) }}</p>
            </div>
        {% elif query.oldid and not result %}
            <div id="info-box" class="red-box">
                {% set rev_url = "https://" ~ g.site.domain ~ "/w/index.php?oldid=" ~ query.oldid %}
                <p>{{ message('error-revision-not-found', url_revision=rev_url | e, revision_id=query.oldid | e) }}</p>
            </div>
        {% elif query.title and not result %}
            <div id="info-box" class="red-box">
                <p>{{ message('error-page-not-found', url_page=g.page.url | e, page_title=g.page.title | e) }}</p>
            </div>
        {% endif %}
    {% endif %}
    {% set ui_lang = query.lang or g.lang_code or 'en' %}
    <p>{{ message('intro-paragraph-1', url_copyright=(message('intro-paragraph-1-copyvio-url') | e), url_dupdet='https://dupdet.toolforge.org') }}</p>
    <p>{{ message('intro-paragraph-2') }}</p>
    <p>{{ message('intro-paragraph-3', url_exclusions='https://en.wikipedia.org/wiki/User:EarwigBot/Copyvios/Exclusions') }}</p>
    {% include "support/cv_form.html.jinja" %}
    {% if result %}
        {% include "support/cv_result.html.jinja" %}
    {% endif %}
{% endblock %}
